Django==1.11.18
django-bootstrap3
django-extensions
django-summernote
pillow
psycopg2
pydash
pytz
django-cleanup
django-address
django-multi-captcha-admin
django-recaptcha2
django-phonenumber-field
phonenumbers
