{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="banner-bottom-w3l">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle"><span>C</span>ompanys</h3>
            <div class="tittle-style"></div>
            <h3 align="center">
                {% for key, val in companys.items %}
                    <a class="choices-link" href="#{{key}}"> {{key|upper}} </a>
                {% endfor %}
            </h3>
        </div>
        {% for key, values in companys.items %}
        <h4 class="tittle" id="{{key}}"> {{key|upper}} </h4>
        <div class="history">
            <div class="row">
                {% for company in values %}
                    <div class="col-sm-4">
                        {% if company.link %}
                            <a href="{{company.link}}" target="_blank">
                                <img class="img-responsive" src="{{company.logo.url}}" alt="{{company.name}}">
                            </a>
                        {% else %}
                            <img class="img-responsive" src="{{company.logo.url}}" alt="{{company.name}}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
