{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="banner-bottom-w3l">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle"><span>C</span>anna Cross</h3>
            <div class="tittle-style"></div>
           <h3 align="center">
               <a class="choices-link" href="{% url 'canna_cross:list' 'paper' %}">Paper</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'oil' %}">CBD oil</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'fuel' %}">Homes/Build/Fuel</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'clothing' %}">Clothing</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'medicine' %}">Medicine/Food</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'science' %}">Science</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'food' %}">Shops</a>
               <a class="choices-link" href="{% url 'canna_cross:list' 'buildings' %}">Info/Magazine</a>
           </h3>
        </div>
        <div class="row" align="center">
            <img src="{% static 'images/hvezda.jpg' %}" class="img-responsive" alt="canna cross" />
        </div>
    </div>
</div>
{% endblock %}
