{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="main-agile">
		<!-- banner -->

		<div class="agile-top">

		  <div class="col-xs-4 logo">

				<h1>

                    <a href="{% url 'encyclopedia:index' %}">

						<span>EN</span>cyclopedia

						<span>of  CA</span>nnabis</a>

				</h1>

			</div>
        </div>
	<!-- banner-text -->

	<div class="slider">

		<div class="callbacks_container">

			<ul class="rslides callbacks callbacks1" id="slider4">

				<li>

					<div class="w3layouts-banner-top banner">

						<div class="container">

							<div class="agileits-banner-info">

								<h3>Encyclopedia of Cannabis</h3>

								<p>Save the seeds

									<i class="fa fa-tree" aria-hidden="true"></i> they will save you</p>

								<div class="video-pop-wthree">

									<a href="#small-dialog1" class="view play-icon popup-with-zoom-anim ">

										<i class="fa fa-play-circle" aria-hidden="true"></i>Watch Our Video</a>

									<div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">

										<iframe src="https://www.youtube.com/embed/pTYthVORkgo"></iframe>

									</div>

								</div>

								<div class="thim-click-to-bottom">

									<a href="#about" class="scroll">

										<i class="fa  fa-chevron-down"></i>

									</a>

								</div>



							</div>

						</div>

					</div>

				</li>

				<li>

					<div class="w3layouts-banner-top banner-2">

						<div class="container">

							<div class="agileits-banner-info">

								<h3>Interactive Education</h3>

								<p>Information sharing</p>

								<div class="video-pop-wthree">

									<a href="#small-dialog2" class="view play-icon popup-with-zoom-anim ">

										<i class="fa fa-play-circle" aria-hidden="true"></i>Watch Our Video</a>

									<div id="small-dialog2" class="mfp-hide w3ls_small_dialog wthree_pop">

										<iframe src="https://www.youtube.com/embed/pTYthVORkgo"></iframe>

									</div>

								</div>

								<div class="thim-click-to-bottom">

									<a href="#about" class="scroll">

										<i class="fa  fa-chevron-down"></i>

									</a>

								</div>

							</div>

						</div>

					</div>

				</li>

				<li>

					<div class="w3layouts-banner-top banner-3">

						<div class="container">

							<div class="agileits-banner-info">

								<h3>international project</h3>

								<p>Creativity

									<i class="fa fa-tree" aria-hidden="true"></i> Cooperation</p>

								<div class="video-pop-wthree">

									<a href="#small-dialog3" class="view play-icon popup-with-zoom-anim ">

										<i class="fa fa-play-circle" aria-hidden="true"></i>Watch Our Video</a>

									<div id="small-dialog3" class="mfp-hide w3ls_small_dialog wthree_pop">

										<iframe src="https://www.youtube.com/embed/pTYthVORkgo"></iframe>

									</div>

								</div>

								<div class="thim-click-to-bottom">

									<a href="#about" class="scroll">

										<i class="fa  fa-chevron-down"></i>

									</a>

								</div>

							</div>

						</div>

					</div>

				</li>

			</ul>

		</div>

		<div class="clearfix"> </div>

		<!-- //banner-text -->

	</div>

	<!-- //banner -->



	<!-- about -->

	<div class="banner-bottom-w3l" id="about">

		<div class="container">

			<div class="title-div">

				<h3 class="tittle">

					<span>W</span>elcome

				</h3>

				<div class="tittle-style">

				</div>

				<p>Books that first comprehensively inform and map out a list of cannabis varieties. Information from yields, growing time through plant genetics, their effects, use in medicine, content of active substances and other information.</p>

			</div>

			<div class="welcome-sub-wthree">

				<div class="col-md-5 banner_bottom_left">

					<h4><span>Encyclopedia of Cannabis</span>

					</h4>

					<p>The heterogeneity of individual information on cannabis varieties that can be traced on the internet is large.</p>

					<p>There is also a form of reporting, and there is no book / page where the information would be grouped in one place in some complete forms with a greater amount of information or in a sufficient volume.</p>

					<h6 class="w3l-style">ENofCA ®</h6>

				</div>

				<!-- Stats-->

				<div class="col-md-7 stats-info-agile">

					<div class="w3l-right-stats">

						<div class="stats-grid stat-border">

							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1100' data-delay='.5' data-increment="1">1100</div>

							<p>Over 1100 Seeds</p>

						</div>

						<div class="stats-grid">

							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='70' data-delay='.5' data-increment="1">70</div>

							<p>Seed Banks</p>

						</div>

						<div class="stats-grid stat-border border-st2">

							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>

							<p>Over 1200 Pages</p>

						</div>

					</div>

				</div>

				<!-- //Stats -->

				<div class="clearfix"> </div>

			</div>

		</div>

	</div>

	<!-- //about -->

	<!-- team -->

	<div class="team" id="team">

		<div class="container">

			<div class="title-div">

				<h3 class="tittle">

					<span>M</span>eet Our Team

				</h3>

				<div class="tittle-style">

				</div>

			</div>

			<div class="agileits-team-grids">

				<div class="col-sm-3 col-xs-6 agileits-team-grid">

					<div class="team-info">

                        <img src="{% static 'images/t1.jpg' %}" alt="">

						<div class="team-caption">

							<h4>Encyclopedia of Cannabis</h4>

							<ul>

								<li>

									<a href="*">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-rss"></i>

									</a>

								</li>

							</ul>

						</div>

					</div>

				</div>

				<div class="col-sm-3 col-xs-6 agileits-team-grid">

					<div class="team-info">

                        <img src="{% static 'images/t2.jpg' %}" alt="">

						<div class="team-caption">

							<h4>Tom Nomjer</h4>

							<ul>

								<li>

									<a href="#">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-rss"></i>

									</a>

								</li>

							</ul>

						</div>

					</div>

				</div>

				<div class="col-sm-3 col-xs-6 agileits-team-grid">

					<div class="team-info">

                        <img src="{% static 'images/t3.jpg' %}" alt="">

						<div class="team-caption">

							<h4>George Hody</h4>

							<ul>

								<li>

									<a href="#">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-rss"></i>

									</a>

								</li>

							</ul>

						</div>

					</div>

				</div>

				<div class="col-sm-3 col-xs-6 agileits-team-grid">

					<div class="team-info">

                        <img src="{% static 'images/t4.jpg' %}" alt="">

						<div class="team-caption">

							<h4>Elisa Pampi</h4>

							<ul>

								<li>

									<a href="#">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li>

									<a href="#">

										<i class="fa fa-rss"></i>

									</a>

								</li>

							</ul>

						</div>

					</div>

				</div>

				<div class="clearfix"> </div>

			</div>

		</div>

	</div>

	<!-- //team -->



	<!-- experts section -->

	<div class="what-w3ls">

		<div class="container">

			<div class="title-div">

				<h3 class="tittle">

					<span>F</span>acts About Encyclopedia

				</h3>

				<div class="tittle-style">

				</div>

			</div>

			<div class="what-grids">

				<div class="col-md-6 what-grid">

                    <img src="{% static 'images/work.png' %}" class="img-responsive" alt="" />

				</div>

				<div class="col-md-6 what-grid1">

					<div class="what-top">

						<div class="what-left">

							<i class="fa fa-check" aria-hidden="true"></i>

						</div>

						<div class="what-right">

							<h4>These Books Have a Soul</h4>

							<p>It's about 1,100 pages together. It's something to boast with your friends. Something you enjoy when you read it. These books open windows for future. Great knowledge concentrated in two catalogs of seeds.</p>

						</div>

						<div class="clearfix"></div>

					</div>

					<div class="what-top1">

						<div class="what-left">

							<i class="fa fa-thumbs-up" aria-hidden="true"></i>

						</div>

						<div class="what-right">

							<h4>The Weight of Knowledge</h4>

							<p>We have been forced to make 2 books. It is more comfortable for you.
Can you imagine that you read one book weighing almost 4.5 kg?</p>

						</div>

						<div class="clearfix"></div>

					</div>

					<div class="what-top1">

						<div class="what-left">

							<i class="fa fa-leaf" aria-hidden="true"></i>

						</div>

						<div class="what-right">

							<h4>Sort Alphabetically</h4>

							<p>First book where you can find strains from letter "A" to "K"
Second book, you can find strains from letter "K" to "Z"</p>

						</div>

						<div class="clearfix"></div>

					</div>

				</div>

				<div class="clearfix"></div>

			</div>

		</div>

	</div>

	<!-- //experts section -->



	<!-- projects -->

	<div class="gallery-agile" id="projects">

		<div class="title-div">

			<h3 class="tittle">

				<span>O</span>ur Project in Photos

			</h3>

			<div class="tittle-style">

			</div>

		</div>

		<div class="gallery-agile-kmsrow">

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g1.jpg' %}" data-lightbox="example-set" data-title="One of the most important part of page. If you want to buy a seeds because you want to get high or becase of medicinal purposes. It is up to you. Price is written very clear and with big font so you can compare each strain very easily.">

                        <img src="{% static 'images/g1.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g2.jpg' %}" data-lightbox="example-set" data-title="These books have been printed because we wanted to make it easier for you to look for the best strain. We have done the work for you.">

                        <img src="{% static 'images/g2.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g3.jpg' %}" data-lightbox="example-set" data-title="Take your time. There are a lot of strains. You will find your favourite ones. Don't worry.">

                        <img src="{% static 'images/g3.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g4.jpg' %}" data-lightbox="example-set" data-title="Book name Encyclopedia of Cannabis and logo is on the spine of the book. So you can find them easily in your library.">

                        <img src="{% static 'images/g4.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g5.jpg' %}" data-lightbox="example-set" data-title="Our logo is based on education. These books should help you choose the best strain. Strain which is suitable for you.">

                        <img src="{% static 'images/g5.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g6.jpg' %}" data-lightbox="example-set" data-title="There is a national flag of seed bank at each margin of the page. Helps you search your favorite seed banks.">

                        <img src="{% static 'images/g6.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g7.jpg' %}" data-lightbox="example-set" data-title="Genetics is something you have to know. Remember that attributes of each parent are included in particular strain. I think you're also happy to know who your parents are :)">

                        <img src="{% static 'images/g7.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="col-xs-3 gallery-agile-grids">

				<div class="portfolio-hover">

                    <a href="{% static 'images/g8.jpg' %}" data-lightbox="example-set" data-title="The pie chart graph shows percentage of Sativa/ Indica (sometimes Ruderalis) in particular strain. This info can tell you more about its effects to your body/ mind. It is known that Indica is more sedative, relaxing and good for night use. On the other hand Sativa is stimulating, energetic, and best for day use. Choice is up to you.">

                        <img src="{% static 'images/g8.jpg' %}" class="img-responsive zoom-img" alt="" />

					</a>

				</div>

			</div>

			<div class="clearfix"> </div>

		</div>

	</div>

	<!-- //projects -->



	<!-- testimonials -->

	<div class="testimonials">

		<div class="container">

			<div class="title-div">

				<h3 class="tittle">

					<span>C</span>ustomer Reviews

				</h3>

				<div class="tittle-style">

				</div>

			</div>

			<div class="col-md-6 testimonials-main">

				<section class="slider">

					<div class="flexslider">

						<ul class="slides">

							<li>

								<div class="inner-testimonials-w3ls">

                                    <img src="{% static 'images/tt1.jpg' %}" alt=" " class="img-responsive" />

									<div class="testimonial-info-wthree">

										<h5>Elizabeth Leah</h5>

										<span>Great book *****</span>

										<p class="para-w3-agileits">I was diagnosed with Crohn's disease at the age of nine. I had big problems until I was 21 and found weed. Because I am not friend with internet this books helping me to find best strains, containing more CBD than THC. I have tried 17 strains so far. But thanks to this books I will try another one pretty soon.</p>

									</div>

								</div>

							</li>

							<li>

								<div class="inner-testimonials-w3ls">

                                    <img src="{% static 'images/tt2.jpg' %}" alt=" " class="img-responsive" />

									<div class="testimonial-info-wthree">

										<h5>Theresa Zoe</h5>

										<span>Amazing catalogue! *****</span>

										<p class="para-w3-agileits">Listing this books are a little bit addictive. I am doing it almost all the time and hopefully I will try all the strains (dream). I am going to buy my first seeds because of you. Thanks.</p>

									</div>

								</div>

							</li>

							<li>

								<div class="inner-testimonials-w3ls">

                                    <img src="{% static 'images/tt3.jpg' %}" alt=" " class="img-responsive" />

									<div class="testimonial-info-wthree">

										<h5>Kevin Matt</h5>

										<span>Excellent. *****</span>

										<p class="para-w3-agileits">Wow. I found this book on Instagram. I have all accessory for smoke green magic but this is exactly what I missed. Books which are impressing my friends when we are baked in my couch.</p>

									</div>

								</div>

							</li>

						</ul>

					</div>

				</section>

			</div>

			<div class="clearfix"> </div>

		</div>

	</div>

	<!-- //testimonials -->



	<!-- contact -->

	<div class="contact" id="contact">

		<div class="title-div">

			<h3 class="tittle">

				<span>C</span>ontact Us

			</h3>

			<div class="tittle-style">

			</div>

		</div>

		<div class="col-md-6 map">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155959.95436057376!2d4.758540758964496!3d52.35456528430268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c63fb5949a7755%3A0x6600fd4cb7c0af8d!2sAmsterdam%2C+Nizozemsko!5e0!3m2!1scs!2scz!4v1530104827920"></iframe>

		</div>

		<div class="col-md-6 contact_grids_info">

			<h5 class="small-title">&nbsp;</h5>

			<div class="col-xs-4 contact_grid">

				<div class="contact_grid_right">

					<h4> OFFICE 1</h4>

					<p>Olomouc</p>

					<p>Czech Republic</p>

				</div>

				<div class="address-row">

					<h5>Mail Us</h5>

					<p>

						<a href="mailto:info@enofca.com"> info@enofca.com </a>

					</p>

				</div>

				<div class="address-row">

					<h5>Call Us</h5>

					<a href="tel:00420732305451">+420 732 305 451</a>

				</div>

			</div>

			<div class="col-xs-4 contact_grid">

				<div class="contact_grid_right">

					<h4> OFFICE 2</h4>

					<p>Amsterdam</p>

					<p>Netherlands</p>

				</div>

				<div class="address-row">

					<h5>Mail Us</h5>

					<p>

						<a href="mailto:info@enofca.com"> info@enofca.com </a>

					</p>

				</div>

				<div class="address-row">

					<h5>Call Us</h5>

					<a href="tel:00420732305451">+420 732 305 451</a>

				</div>

			</div>
		</div>

		<div class="clearfix"> </div>

	</div>

	<div class="second-contact-agile">
	  <div class="clearfix"></div>

	</div>

	<!-- //contact -->
	<!-- footer -->

	<div class="footer-bot">

		<div class="w3layouts-newsletter">

			<div class="w3ls-social-icons-2">

				<h3>Social Media</h3>

				<a class="facebook" href="https://www.facebook.com/enofca/">

					<i class="fa fa-facebook"></i>

				</a>

				<a class="youtube" href="https://www.youtube.com/channel/UC3kVHCMgAvzVks0QAAuixwA">

					<i class="fa fa-youtube"></i>

				</a>

				<a class="pinterest" href="#">

					<i class="fa fa-google-plus"></i>

				</a>

				<a class="instagram" href="https://www.instagram.com/_enofca/">

					<i class="fa fa-instagram"></i>

				</a>

			</div>

			<div class="col-md-7 agileinfo-newsletter">

				<h3>

					<i class="fa fa-envelope" aria-hidden="true"></i>Newsletter</h3>

				<form action="#" method="post">

					<input type="email" placeholder="Enter Your Email" name="email" required>

					<input type="submit" value="Subscribe">

				</form>

			</div>

			<div class="clearfix"> </div>

		</div>

		<div class="container">

			<div class="col-xs-3 logo2">

				<h2>

					<a href="index.html">

						<span>En</span>cyclopedia of

						<span>Ca</span>nnabis</a>

				</h2>

			</div>

			<div class="col-xs-9 ftr-menu">

				<ul>

					<li>

						<a href="index.html">Home</a>

					</li>

					<li>

						<a class="scroll" href="#about">About</a>

					</li>

					<li>

						<a class="scroll" href="#services">Services</a>

					</li>

					<li>

						<a class="scroll" href="#team">Team</a>

					</li>

					<li>

						<a class="scroll" href="#projects">Projects</a>

					</li>

					<li>

						<a class="scroll" href="#contact">Contact Us</a>

					</li>

				</ul>

			</div>

			<div class="clearfix"></div>

			<div class="copy-right">

				<p> &copy; 2018 Encyclopedia of Cannabis. All Rights Reserved | Design by

					<a href="http://w3layouts.com/"> W3layouts</a>

				</p>

			</div>

		</div>

	</div>
{% endblock %}
