{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div>
        <a class="btn btn-success back-button" href="{% url 'encyclopedia:strain-list' %}">BACK</a>
    </div>

<div class="banner-bottom-w3l">

    <div class="container">
        <div class="title-div">
            <h3 class="tittle"> {{ object.name }} </h3>
            <div class="tittle-style" align="center"></div>

            {% if object.bank.logo.url and object.revard.logo %}
            <div class="logo-image col-sm-8" align="center">
                <a href="{{object.bank.link}}" target="_blank">
                    <image src="{{object.bank.logo.url}}">
                </a>
            </div>
            {% elif object.bank.logo %}
            <div class="logo-image" align="center">
                <a href="{{object.bank.link}}" target="_blank">
                    <image src="{{object.bank.logo.url}}">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="gallery-agile" id="">

    <div class="gallery-agile-kmsrow">
         {% for photo in photos %}
			<div class="col-sm-4 gallery-agile-grids">
				<div class="portfolio-hover">
                        <a href="{{photo.photo.url}}" data-lightbox="example-set">
                         <img src="{{photo.photo.url}}" alt="..." class="img-responsive zoom-img"> </a>
                 </div>
             </div>
         {% endfor %}
     </div>
			<div class="clearfix"> </div>
</div>


<div class="banner-bottom-w3l">
    <div class="container">

        <!-- MEDICAL USE -->
        <div class="row" align="center">
            <div class="title-div-detail">
                <h3 class="title" align="center"> MEDICAL USE </h3>
            </div>
        </div>
        {% if object.stress %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.stress}}%;">Stress</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.insomnia %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.insomnia}}%;">Insomnia</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.pain %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.pain}}%;">Pain</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.depression %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.depression}}%;">Depression</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.headaches %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.headaches}}%;">Headaches</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.lack_of_appetite %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.lack_of_appetite}}%;">Lack of Appetite</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.muscle_spams %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.muscle_spams}}%;">Muscle spams</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.nausea %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.nausea}}%;">Nausea</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.cramps %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.cramps}}%;">Cramps</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.fatigue %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.fatigue}}%;">Fatigue</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.inflammation %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar health" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.inflammation}}%;">Inflammation</div>
                 </div>
             </div>
         </div>
         {% endif %}

        <div class="row" align="center">
            <div class="title-div-detail">
                <h3 class="title" align="center">EFFECTS</h3>
            </div>
        </div>
        {% if object.communicative %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.communicative}}%;">Communicative</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.creative %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.creative}}%;">Creative</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.energetic %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.energetic}}%;">Energetic</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.euphoric %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.euphoric}}%;">Euphoric</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.focused %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.focused}}%;">Focused</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.happy %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.happy}}%;">Happy</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.relaxed %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.relaxed}}%;">Relaxed</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.uplifted %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.uplifted}}%;">Uplifted</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.talkative %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.talkative}}%;">Talkative</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.aroused %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.aroused}}%;">Aroused</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.giggly %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar effects" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.giggly}}%;">Giggly</div>
                 </div>
             </div>
         </div>
         {% endif %}


        <div class="row" align="center">
            <div class="title-div-detail">
                <h3 class="title" align="center">NEGATIVES</h3>
            </div>
        </div>
        {% if object.dry_eyes %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar negatives" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.dry_eyes}}%;">Dry Eyes</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.dry_mouth %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar negatives" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.dry_mouth}}%;">Dry Mouth</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.headache %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar negatives" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.headache}}%;">Headache</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.paranoid %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar negatives" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.paranoid}}%;">Paranoid</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.dizzy %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar negatives" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.dizzy}}%;">Dizzy</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.anxious %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="progress">
                      <div class="progress-bar negatives" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.anxious}}%;">Anxious</div>
                 </div>
             </div>
         </div>
         {% endif %}

    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
