{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div>
        <a class="btn btn-success back-button" href="{% url 'encyclopedia:strain-list' %}">BACK</a>
    </div>

<div class="banner-bottom-w3l">

    <div class="container">
        <div class="title-div">
            <h3 class="tittle"> {{ object.name }} </h3>
            <div class="tittle-style" align="center"></div>

            {% if object.bank.logo.url and object.revard.logo %}
            <div class="logo-image col-sm-8" align="center">
                <a href="{{object.bank.link}}" target="_blank">
                    <image src="{{object.bank.logo.url}}">
                </a>
            </div>
            <div class="logo-image col-sm-4" align="center">
                <image src="{{object.revard.logo.url}}">
            </div>
            {% elif object.bank.logo %}
            <div class="logo-image" align="center">
                <a href="{{object.bank.link}}" target="_blank">
                    <image src="{{object.bank.logo.url}}">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="gallery-agile" id="">

    <div class="gallery-agile-kmsrow">
         {% for photo in photos %}
			<div class="col-sm-4 gallery-agile-grids">
				<div class="portfolio-hover">
                        <a href="{{photo.photo.url}}" data-lightbox="example-set">
                         <img src="{{photo.photo.url}}" alt="..." class="img-responsive zoom-img"> </a>
                 </div>
             </div>
         {% endfor %}
     </div>
			<div class="clearfix"> </div>
</div>


<div class="banner-bottom-w3l">

    <div class="container">
        <!-- MEDICAL USE -->
        <div class="row" align="center">
            <div class="title-div-detail">
                <h3 class="title" align="center"> MEDICAL USE </h3>
            </div>
        </div>

        {% if object.stress %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Stress</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.stress}}%;">{{object.stress}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.insomnia %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Insomnia</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.insomnia}}%;">{{object.insomnia}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.pain %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Pain</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.pain}}%;">{{object.pain}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.depression %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Depression</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.depression}}%;">{{object.depression}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.headaches %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Headaches</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.headaches}}%;">{{object.headaches}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.lack_of_appetite %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Lack of Appetite</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.lack_of_appetite}}%;">{{object.lack_of_appetite}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.muscle_spams %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Muscle Spams</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.muscle_spams}}%;">{{object.muscle_spams}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.nausea %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Nausea</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.nausea}}%;">{{object.nausea}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.cramps %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Cramps</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.cramps}}%;">{{object.cramps}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.fatigue %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Fatigue</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.fatigue}}%;">{{object.fatigue}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.inflammation %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Inflammation</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.inflammation}}%;">{{object.inflammation}}</div>
                 </div>
             </div>
         </div>
         {% endif %}

        <div class="row" align="center">
            <div class="title-div-detail">
                <h3 class="title" align="center">EFFECTS</h3>
            </div>
        </div>
        {% if object.communicative %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Communicative</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.communicative}}%;">{{object.communicative}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.creative %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Creative</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.creative}}%;">{{object.creative}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.energetic %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Energetic</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.energetic}}%;">{{object.energetic}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.euphoric %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Euphoric</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.euphoric}}%;">{{object.euphoric}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.focused %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Focused</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.focused}}%;">{{object.focused}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.happy %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Happy</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.happy}}%;">{{object.happy}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.relaxed %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Relaxed</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.relaxed}}%;">{{object.relaxed}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.uplifted %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Uplifted</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.uplifted}}%;">{{object.uplifted}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.talkative %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Talkative</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.talkative}}%;">{{object.talkative}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.aroused %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Aroused</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.aroused}}%;">{{object.aroused}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.giggly %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Giggly</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.giggly}}%;">{{object.giggly}}</div>
                 </div>
             </div>
         </div>
         {% endif %}


        <div class="row" align="center">
            <div class="title-div-detail">
                <h3 class="title" align="center">NEGATIVES</h3>
            </div>
        </div>

        {% if object.dry_eyes %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Dry Eyes</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.dry_eyes}}%;">{{object.dry_eyes}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.dry_mouth %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Dry Mouth</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.dry_mouth}}%;">{{object.dry_mouth}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.headache %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Headache</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.headache}}%;">{{object.headache}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.paranoid %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Paranoid</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.paranoid}}%;">{{object.paranoid}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.dizzy %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Dizzy</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.dizzy}}%;">{{object.dizzy}}</div>
                 </div>
             </div>
         </div>
         {% endif %}
         {% if object.anxious %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">Anxious</div>
            <div class="col-md-6">
                <div class="progress">
                      <div class="progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{object.anxious}}%;">{{object.anxious}}</div>
                 </div>
             </div>
         </div>
         {% endif %}

    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
