{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="banner-bottom-w3l">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle"> <span>C</span>annabis strains in Alphabetical Order</h3>
            <div class="tittle-style"></div>
           <h3 class="choices" align="center">
               {% for key, value in strains %}
                       <a class="choices-link" href="#{{key}}"> {{key|upper}} </a>
               {% endfor %}
           </h3>

            {% for key, values in strains %}
            <h4 class="tittle" align="center" id="{{key}}"> {{key|upper}} </h4>
            <div>
                {% for strain in values %}
                    <a class="strains-link"  href="{% url 'encyclopedia:strain' webId=strain.webId %}"> {{strain.name}}</a>{% if not forloop.last %} | {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
